body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1280px;
    margin:60px auto;
    text-align: center;
    line-height: 1.8;
    padding:0 20px;
}
.container .title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}
.container .heading{
    font-size: 34px;
    margin-bottom: 35px;
    font-weight: bold;
}
.container .about-text{
    font-size: 16px;
    margin-bottom: 35px;
    color: #000000;
    width: 750px;
    margin: 0 auto;
}
.about-banner img {
    width: 1380px;
    display: block;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}