.detail-container {
    max-width: 1380px;
    margin: 35px auto;
    display: flex;
    gap: 40px;
}

.detail-sidebar {
    width: 22%;
}

.detail-sidebar h3 {
    font-size: 18px;
    font-weight: 700;
}

.line {
    height: 1px;
    background: #ddd;
    margin: 12px 0;
}

.sb-item {
    margin: 15px 0;
}

.sb-item a {
    font-size: 15px;
    color: #333;
    text-decoration: none;
}

.sb-item span {
    display: block;
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}

.premium-title {
    margin-top: 20px;
    font-weight: 700;
}

.detail-main { width: 78%; }

.breadcrumb-detail {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

.breadcrumb-detail a {
    color: #555;
    text-decoration: none;
}

.detail-main h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.post-meta {
    color: #777;
    margin-bottom: 20px;
}

.post-banner img {
    width: 100%;
    border-radius: 8px;
    margin: 20px 0;
}

.toc-title {
    font-size: 22px;
    margin-top: 25px;
}

.toc-list li {
    margin: 8px 0;
    font-weight: bold;
}

.toc-list {
    list-style: none;
    padding-left: 0;
}

.toc-list li {
    margin: 6px 0;
}
.post-content {
    margin-top: 25px;
    line-height: 1.6;
}

.post-content h2 {
    margin-top: 25px;
}