/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #333;
}

/* ========== HEADER CHUNG ============ */
.header {
    background-color: #2346C5;
    color: #fff;
}

/* ==== HEADER TRÊN ==== */
.header-top {
    width: 100%;
    padding: 12px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2346C5;
}

.logo img {
    height: 45px;
}

/* ==== THANH TÌM KIẾM ==== */
.search-bar {
    display: flex;
    flex: 1;
    margin: 0 40px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
}

.search-bar button {
    background: none;
    border: none;
    font-size: 20px;
    color: #2346C5;
    padding: 0 15px;
    cursor: pointer;
}

/* ==== PHẦN PHẢI HEADER ==== */
.right-info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.hotline p {
    font-size: 13px;
    margin-bottom: 3px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-item {
    text-align: center;
    cursor: pointer;
}

.icon-item p {
    font-size: 13px;
    color: white;
}

.lang {
    font-weight: bold;
}

/* = MENU  */
.menu {
    width: 100%;
    background: #ffd54f;
    padding: 14px 80px;
    display: flex;
    justify-content: flex-start;
}


.menu ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

.menu ul li {
    position: relative;
}

.menu li {
    position: relative;
    z-index: 10;
}


.menu li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 25px;
    background: transparent;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: 0.3s;
    white-space: nowrap;
    padding: 8px 12px;
    display: block;
}

.menu a:hover {
    color: #0f0e0e;
}

/* DROPDOWN LỚN  */
.dropdown {
    position: absolute;
    left: -3px;
    top: calc(100% + 14px);
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    z-index: 999;
}


.menu li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-container {
    background: #fff;
    width: calc(100vw + 4px);
    padding: 10px 105px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 25px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #ffce00;
    margin: 0;
    transform: translateX(-100px);
    overflow-x: hidden;
}


.dropdown-container h4 {
    color: #2346C5;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
}

.dropdown-container p {
    color: #333;
    font-size: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}

.dropdown-container p:hover {
    color: #2346C5;
    text-decoration: underline;
}


/* ================= DROPDOWN NHỎ ================= */

.dropdown-small {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding: 10px 0;
    min-width: 230px;
    min-height: calc(100% + 100px);
    z-index: 9999;
    display: none;
    flex-direction: column;
}


.dropdown-small p {
    margin: 0;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
}

.dropdown-small p:hover {
    background: #eaf0ff;
    color: #2346C5;
}

.has-dropdown:hover .dropdown-small {
    display: flex;
    flex-direction: column;
}

.dropdown-meo {
    transform: translateX(-202px);
}

/* Đảm bảo hover không bị mất khi rê chuột */
.has-dropdown:hover .dropdown,
.has-dropdown:hover .dropdown-small,
.dropdown:hover,
.dropdown-small:hover {
    display: block;
}


/* ================= FOOTER ICON ================= */
/*================= Start slider===============*/
/*Slide show container css*/
#slider-container {
    max-width: 1370px;
    height: 530px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.slider-item {
    display: flex;
    width: 400%;
    transition: transform 0.765s ease-in-out;

}

.slider-item img {
    width: 100%;
    height: 530px;
    object-fit: cover;
    flex-shrink: 0;
}
.slider-item img:hover {
    cursor: pointer;
}


.btns {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.btns button {
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    padding: 12px 16px;
    margin: 0 12px;
    cursor: pointer;
}

.btns button:hover {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    font-size: 24px;
    padding: 12px 16px;
    margin: 0 12px;
    cursor: pointer;
}

.btns button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
    color: white;
    font-size: 12px;
}
.dots:hover{
    cursor: pointer;
}
/*============End slider ============*/

/*==================Start policy============*/
#policy-section{
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px ;
}
#policy-section .policy-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1370px;
    margin: 0 auto;
    gap: 10px;
}
#policy-section .policy-item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    background: #f6f6f6;
    width: 340px;
    height: 105px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#policy-section .policy-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
    z-index: 2;
}
.divider{
    height: 100px;
    width: 0.8px;
    margin: 0;
    background: #d0d0d0;
}
.policy-item i {
    font-size: 40px;
    color: #2a52f0;
    margin-right: 15px;
    padding-right: 17px;
}

.policy-item p {
    font-weight: bold;
    font-size: 25px;
    color: #111;
    line-height: 1.3;
    margin: 0;
}
/*==================End policy======================*/
/*====================Start banner-content================*/
#banner-content {

    margin: 0 auto;
    max-width: 1370px;
}
#banner-content h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#banner-content .content-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 25px;
}
#banner-content .content-item img {
    width: 50%;
    height: 200px;
    border-radius: 15px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.5s ease;
}
#banner-content .content-item img:hover {
    cursor: pointer;
    transform: scale(1.02);
}
/*====================End banner-content=================*/

.dropdown-small {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
    color: white;
    font-size: 12px;
}
.dots:hover{
    cursor: pointer;
}


/*Collections-container*/
#collections-content {
    width: 1380px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 32px;
}
.collections-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.collections-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.collections-item .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s ease;
    font-weight: 500;
}

.item img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #f9f9f9;
    padding: 20px;
    cursor: pointer;
}
.item:hover p {
    color: #234BBB;
    text-decoration: underline;
}
.collections-header h2 {
    font-weight: 700;
    color: #234BBB;
    font-size: 20px;
    text-align: center;
    flex: 1;
}
.collections-header a {
    color: #234BBB;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
/*End Collections-container*/


/*==================== Favorite Section ====================*/
#fav-container {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#fav-container .fav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#fav-container .fav-header h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #222;
}

#fav-container .fav-header .see-all {
    color: #234BBB;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
#fav-container .fav-slider {
    display: flex;
    align-items: center;
    position: relative;
}
#fav-container .fav-item img:hover {
    cursor: pointer;
}
#fav-container .fav-btn {
    background: white;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
}


#fav-container .fav-btn i {
    font-size: 1rem;
}

#fav-container .fav-btn.prev {
    position: absolute;
    left: -20px;
}

#fav-container .fav-btn.next {
    position: absolute;
    right: -20px;
}


#fav-container .fav-wrapper {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}

#fav-container .fav-item {
    flex: 0 0 calc(25% - 15px);
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#fav-container .fav-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#fav-container .fav-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#fav-container .fav-item h4 {
    color: #003399;
    font-size: 1rem;
    margin-bottom: 5px;
}

#fav-container .fav-item p {
    color: #333;
    font-size: 0.9rem;
    height: 40px;
    overflow: hidden;
}

#fav-container .price {
    display: block;
    color: #000;
    font-weight: 600;
    margin-top: 8px;
}

#fav-container .fav-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

#fav-container .fav-icon:hover {
    color: red;
}

/* Dots */
#fav-container .fav-dots {
    text-align: center;
    margin-top: 15px;
}

#fav-container .fav-dots i {
    margin: 0 5px;
    color: #bbb;
    font-size: 0.6rem;
    cursor: pointer;
}

#fav-container .fav-dots i.fa-solid {
    color: #007bff;
}

    .dropdown-small {
        position: absolute;
        left: 0;
        top: calc(100% + 14px);
        background: #fff;
        min-width: 250px;
        padding: 20px 25px;
        border-top: 3px solid rgba(255, 255, 255, 0);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        gap: 10px;
        z-index: 1000;
        transform: translateX(-20px);
    }


    /* hiện menu nhỏ */
    .has-dropdown:hover .dropdown-small {
        display: flex;
    }


    .dropdown-small p {
        margin: 0;
        padding: 6px 0;
        font-size: 15px;
        color: #333;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .dropdown-small p:hover {
        color: #ffce00;
    }


    .dropdown-small {
        transform: translateX(-20px);
    }

/*==========Hot deals==========*/
.deal_container{
    width: 1380px;
    margin-left: auto;
    margin-right: auto;
}
.deal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.deal_see_all{
    color: #234BBB;
    text-decoration: underline;
    cursor: pointer;
}
.deal-slider{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
.deal-btn{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}
.deal-btn i{
    pointer-events: none;
}
.deal-wrapper{
    display: flex;
    margin: 0 20px;
}
.deal-item{
    width: 310px;
    padding: 10px;
    margin-right: 20px;
    position: relative;
    transition: 0.3s ease;
    border-radius: 10px;
}
.deal-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
}
.deal-item p:hover{
    color: #234BBB;
    text-decoration: underline;
    cursor: pointer;
}
.deal-item img{
    width: 100%;
    height: 330px;
    object-fit: contain;
}
.deal-item h4{
    color: #234BBB;
    font-size: 17px;
    margin-bottom: 5px;
}
.deal-item p{
    font-size: 14px;
    min-height: 40px;
    font-family: sans-serif;
}
.price{
    font-weight: bold;
}
.price1{
    text-decoration: line-through;
    margin-right: 8px;
    font-weight: bold;
}
.price2{
    color: red;
    font-weight: bold;
}
.deal-icon{
    position: absolute;
    top: 20px;
    right: 10px;
    color: #888;
    cursor: pointer;
}
.deal-icon:hover{
    color: red;
}
.deal-dots{
    text-align: center;
    margin-top: 15px;
}
.deal-dots i{
    margin: 0 5px;
    color: #aaa;
    font-size: 10px;
    cursor: pointer;
}
.deal-dots i.fa-solid {
    color: #007bff;
}
/*========Trademark list========*/
.trademark_container{
    width: 1380px;
    margin-left: auto;
    margin-right: auto;
}
.trademark_list{
    margin: 10px 0;
}
.trademark_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 25px auto;
}
.trademark_header p{
    font-size: 14px;
    color: #234BBB;
    text-decoration: underline;
    cursor: pointer;
}
.trademark_item{
    width: 100%;
    text-align: center;
}
.trade_logo{
    display: inline-block;
    width: 148px;
    height: 158px;
    background: #fff;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    margin: 8px 10px;
    padding: 10px;
    vertical-align: top;
    box-shadow: 0 4px 12px #d0d0d0;
}
.trade_logo:hover p{
    color: #234BBB;
    text-decoration: underline;
}
.trade_logo p:hover{
    cursor: pointer;
}
.trademark_item img{
    width: 110px;
    height: 110px;
    object-fit: contain;
    transition: transform 0.5s ease;
}
.trade_logo img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
/*=======End trademark list========*/

/*========List store==========*/

.header-line{
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.header-line hr{
    border: none;
    border-top: 3px solid #2346C5;
}
.title-store{
    color: #2346C5;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    background: white;
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 85px;
}
.store-container{
    width: 1380px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.store-item{
    width: 320px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}
.store-img{
    width: 100%;
    height: 235px;
    overflow: hidden;
}
.store-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.store-item h3{
    font-size: 16px;
    margin: 40px 0 20px;
}
.store-item p{
    font-size: 14px;
    margin-bottom: 10px;
}
.store-item button{
    padding: 16px 40px;
    background-color: #2a52f0;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
.store-item button:hover{
    background-color: #000000;
    color: white;
}
.store-item img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*=========End list store=======*/

/*===========Footer==========*/
.footer{
    font-family: Arial, sans-serif;
}
.small_icon{
    width: 40px;
    height: 40px;
}
.icon_social{
    display: flex;
    justify-content: right;
    align-items: center;
}
.social_btn{
    margin: 0 6px;
}
.footer-top{
    background: #eeeeee;
    height: 700px;
}
.L1_style{
    margin: 0;
    padding-top: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.L2_style{
    padding-top: 15px;
    text-align: center;
    font-size: 19px;
    font-weight: normal;
    width: 790px;
    margin-left: 200px;
    color: #333333;
}
.email_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.email_box input{
    padding: 16px;
    width: 500px;
    margin-right: 30px;
    border: 1px solid #b4b4b4;
    border-radius: 6px;
    box-sizing: border-box;
}
.email_box button{
    padding: 16px 40px;
    background-color: #234BBB;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.email_box button:hover{
    background-color: #000000;
    color: white;
}
.ft_container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}
.ft_col{
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 55px;
}
.list_col{
    width: 25%;
    float: left;
    padding: 10px;
}
.list_col h4{
    margin-bottom: 20px;
    font-family: sans-serif;
}
.list_col p{
    margin: 20px 0;
    font-size: 15px;
    font-family: sans-serif;
}
.icon_ft .call-item, .icon_ft .email-item{
    display: flex;
    align-items: center;
}
.icon_ft i{
    margin-right: 10px;
}
.hover_col p{
    margin: 20px 0;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
}
.hover_col p:hover{
    color: #2346C5;
    text-decoration: underline;
}
.footer-bottom{
    height: 220px;
    text-align: center;
    padding: 60px 0;
}
.f_style{
    color: #b4b4b4;
    font-family: sans-serif;
}

/* End footer */