body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000;
    display: flex;
}

.sidebar {
    width: 240px;
    background: #2346C5;
    height: 100vh;
    padding: 20px 0;
}
.sidebar h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}
.sidebar a {
    display: block;
    padding: 14px 25px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.sidebar a:hover, .active {
    background: #1e3cb2;
}

.main {
    flex: 1;
    padding: 20px 30px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 18px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}
.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    border: 1px solid  #fff;
}
.card .number {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.section {
    display: none;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.section.active {
    display: block;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.title-bar h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.btn-add {
    background: #007bff;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
.btn-add:hover {
    opacity: 0.85;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #2346C5;
    font-size: 15px;
}

th {
    background: #2346C5;
    color: #fff;
    text-align: left;
}

tr:last-child td {
    border-bottom: none;
}

.btn-edit,
.btn-delete {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.btn-edit {
    background: #ffc107;
}

.btn-delete {
    background: #dc3545;
    color: white;
}

