.blog-container {
    max-width: 1380px;
    margin: 40px auto;
    padding: 0 20px;
}

.breadcrumb-blog {
    font-size: 14px;
    margin-bottom: 10px;
    color: #777;
}

.breadcrumb-blog a {
    color: #777;
    text-decoration: none;
}

.blog-title {
    font-size: 32px;
    margin: 15px 0 30px;
}

.blog-layout {
    display: flex;
    gap: 40px;
}

.blog-sidebar {
    width: 22%;
}

.blog-sidebar h3 {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}

.line {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 10px 0 20px;
}

.sidebar-item {
    margin-bottom: 20px;
}

.s-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.s-date {
    color: #777;
    font-size: 13px;
}

.premium-title {
    margin-top: 30px;
    font-weight: bold;
}

.blog-posts {
    width: 78%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.blog-card h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.meta {
    font-size: 13px;
    color: #777;
    margin-bottom: 12px;
}

.excerpt {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.4;
}

.read-more {
    background-color: #e6731a;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.read-more:hover {
    background-color: #ff831f;
}