body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d2d6de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    background: #ffffff;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;

}
.container h2{
    margin-bottom: 22px;
}
.container label{
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.container input{
    width: 100%;
    padding: 13px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 20px;

}
.container .btn-reset{
    display: inline-block;
    width: 100%;
    padding: 15px;
    background: #0986e6;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: 550;
}
.container .btn-reset:hover {
    opacity: 0.9;
}
.container .back-login{
    font-size: 15px;
    display: inline-block;
    color: #000000;
}