body {
    font-family: Arial, sans-serif;
    background: #d2d6de;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin: 0;
}

.success-box {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding-top: 80px;
}

h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.success-msg {
    color: #362f9c;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

.back-login {
    color: #234bbb;
    font-size: 16px;
    text-decoration: none;
}

.back-login:hover {
    text-decoration: underline;
}
.success-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.success-icon i {
    font-size: 50px;
    color: green;
}